*
  box-sizing border-box

html
  font-family Consolas, monospace
  scroll-behavior smooth

a, a:active, a:visited
  text-decoration none

h1, h2, h3
  margin 0

nav
  background-color black
  height 10vh
  left 0
  position fixed
  right 0
  text-align right
  top 0
  z-index 10
  a, a:active, a:visited
    color white
    display inline-block
    height 100%
    padding 0 5px
    line-height 10vh

section
  min-height 100vh
  padding-top 10vh
