html
  head
    title Portifolio
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=VT323')
    link(rel='stylesheet' href='https://necolas.github.io/normalize.css/8.0.1/normalize.css')
    link(rel='stylesheet' href='styles/index.styl')
  body
    nav
      a.move-to(href='#about') About
      a.move-to(href='#projects') Projects
      a.move-to(href='#contact') Contact
    main
      section#about
        div.type-area
          p.typed > Hi there!
          p.typed > My name is Guilherme Guimarães
          p.typed > I'm a web developer
          p.typed > Want to #[a.regex.move-to(href='#contact') /contr?act/] me?
      section#projects
        ul.project-list
          each project in projects
            li.project-item
              a.project-url(href=project.url target='_blank' rel='noopener')
                h2.project-name= project.name
                h3.project-description= project.description
                if project.image
                  img.project-image(src=project.image)
      section#contact
        div.icons
          a.icon.github(href='https://github.com/ggviana')
          a.icon.linkedin(href='https://linkedin.com/in/ggviana')
          a.icon.email(href='mailto:ggviana@hotmail.com.br')
    script(src='app.js')
